.person {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.person_photo {
  width: 64px;
  height: 64px;
  border-radius: 10%;
  margin-right: 20px;
}

.person_info {
  flex: 4;
}

.person_links {
  flex-wrap: nowrap;
  flex-shrink: 0;
}
