.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--card-background));
  box-shadow: 0 0.5rem 1rem hsl(var(--shadow));
  transition: background-color 0.3s;
  cursor: pointer;
}

.card:hover {
  background-color: hsl(var(--btn-background-hover));
}

.links {
  flex: 0 0 25%;
  text-align: end;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow-y: auto;
  padding: 1em;
}

.active {
  background-color: hsl(var(--btn-background));
}
