.container {
  max-width: 1200px;
  margin-left: 1em;
}
.company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.company_logo {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin-bottom: 20px;
}

.person {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.person_photo {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-right: 20px;
}

.person_info {
  flex: 4;
}

/* .person_links {
  flex: 1;
} */

.emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
