.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
}

.favorites {
  border-right: 1px solid #e0e0e0;
  height: 100%;
  flex: 1;
}

.favoriteItem {
  padding: 8px;
}

.feed {
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  overflow-y: scroll;
  overflow-y: scroll0px;
  flex-shrink: 0;
  padding: 0;
  /* width: 100%; */
}

.feedMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  align-items: flex-start;
}

.details {
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 1em;
  flex-grow: 1;
}
