.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 100vh;
}

.favorites {
  border-right: 1px solid #e0e0e0;
  height: 100%;
  flex: 1;
}

.favoriteItem {
  padding: 8px;
}

.feed {
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  overflow-y: scroll;
}

.feedMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  align-items: flex-start;
}

.details {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding: 1em;
  flex-grow: 1;
}
